{% extends 'base.html' %}

{% block content %}
{{ product.name }},
    {% for category in product.categories.all %}
    {{ category }} |
    {% endfor %}
    , {{ product.specifications }} {{ product.description }}, {{ product.cost }},
<img src="{{ product.image.url }}">, {{ product.creator }}
    <a onclick='AjaxAdd("{% url 'add' %}?product_id={{ product.id }}")'>Add to cart</a>




    <script>
    function AjaxAdd(add_url) {
        $.ajax({
            url: add_url,
            success: function (response) {alert(response);},
            error: function() {alert("Couldn't add item");}
        })
    }
    </script>
{% endblock %}