{% extends 'base.html' %}
{% load i18n %}

{% block content %}
        {% load carton_tags %}
        {% get_cart as cart %}
    <div class="col-sm-8 col-md-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>{% trans "Cart" %}</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <table class="table">
                        <thead>
                        <tr>
                            <th>{% trans "Product" %}</th>
                            <th>{% trans "Quantity" %}</th>
                            <th>{% trans "Price" %}</th>
                            <th>{% trans "Subtotal" %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in cart.items %}
                            <tr>
                                <td>{{ item.product.name }}</td>
                                <td>
                                    <span>{{ item.quantity }}</span>
                                </td>
                                <td>
                                    <span>{{ item.price }}</span>
                                </td>
                                <td>
                                    <span>{{ item.subtotal }}</span>
                                </td>
                                <td>
                                    <a class="btn btn-danger btn-xs" onclick='AjaxRemove("{% url 'remove' %}?id={{ item.product.id }}")'>{% trans "Delete" %}</a>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                                <td>
                                {% trans "Total" %}:
                                </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>{{ cart.total }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <ul class="nav nav-pills">
                        <li  role="presentation" class="active"><a href="/cart/checkout/">{% trans "Checkout" %}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function AjaxRemove(remove_url) {
        $.ajax({
            url: remove_url,
            success: function(response) {alert(response);},
            error: function() {alert("Couldn't remove item");}
        })}
</script>
{% endblock %}
