<!DOCTYPE html>
<html lang="ru">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link href="https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/i18n/defaults-*.min.js"></script>
<link rel="stylesheet" type="text/css" href="static/css/style.css" />

    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
        {% load static %}
        {% load staticfiles %}
        {% block head %}
        {% load i18n %}
        {% load carton_tags %}
        {% get_cart as cart %}
            <nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid bar">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">{% trans "Sun Shop" %}</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
{#        <li class="active"><a href="#">Link</a></li>#}
{#        <li><a href="#">Link</a></li>#}
      </ul>
      {% include "goods/search.html" %}
        <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
          <li><a href="/cart/show/">{% trans "Cart" %} {{ cart.count }}</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.first_name }} <b class="caret"></b></a>
            <ul class="dropdown-menu">
{#            <li><a href="#">Another action</a></li>#}
{#            <li><a href="#">Something else here</a></li>#}
            <li class="divider"></li>
            <li><form role="presentation" method="POST" action="/logout/">{% csrf_token %}<button type="submit" class="btn logoutbtn">{% trans "Logout" %}</button></form></li>

      {% else %}
        <li><a href="/login/">{% trans "Login" %}</a></li>
        <li><a href="/register/">{% trans "Register" %}</a></li>
      {% endif %}
            <li>  {% get_available_languages as languages %}
        {% for lang_code, lang_name in languages %}
            {% language lang_code %}
            {% if object.id %}
                <a class="lang" href="{% url request.resolver_match.url_name  id=object.id %}">{{ lang_name }}</a>
            {% else %}
                <a class="lang" href="{% url request.resolver_match.url_name %}">{{ lang_name }}</a>
            {% endif %}
            {% endlanguage %}
{% endfor %}
</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
        {% endblock %}
</head>
<body>
<div class="container">
    {% block content %}
    {% endblock %}
</div>
